<table class="table table-bordered border-primary">
    <thead class="">
        <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {{#each skaters}}
        <tr>
            <td class="text-center"><img src="/imgs/{{this.foto}}" alt="{{this.nombre}}" width="100"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            {{! If the value of the estado property is true, display 'Aprobado'; otherwise, display 'En revisión' }}
            {{#if this.estado}}
            <td style="color:rgb(83, 176, 83);">Aprobado</td>
            {{else}}
            <td style="color:rgb(127, 67, 14);">En revisión</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>




<div class="col-12 py-4 d-flex justify-content-center align-items-center">
    <p class="px-3"><a href="/login">Inicia Sesión</a></p>
    <p class="px-3"><a href="/signup">Regístrate</a></p>
</div>

